<head><meta name="viewport" content="width=device-width, initial-scale=1.0"></head>
 <header class="nav">
  <img src="https://vectr.com/jreyes16/a1elNX2a1K.svg?width=478.1617230769233&height=296.56159079016226&select=a68TuDADv4,a1EJP0JMHe,a21Ferkkz&source=selection"class="logo">
</nav>
<h1>Request A Book</h1>
<form action="/book/create">
  <input class="boxx" name="name" type="text" placeholder="Add Name">
  <br>
  <input class="boxx" name="email" type="text" placeholder="Email">
  <br>
  <input class="boxx" name="book_title" type="text" placeholder="Book title">
  <br>
  <input class="boxx" name="days_needed" type="number" placeholder="Days Needed">
  <br>
  <input class="boxx" name="intrested_response" type="text" placeholder="Answer if insterested">
  <br>
  <input class="boxx" type="submit" value="Add new book request">
  <br>
</form>
  <br>
    <a href="/" class="simple-link">BACK TO BOOK REQUESTS</a>
>
