<h1>new</h1>


<form action="/book/create">
  <input name="name" type="text" placeholder="Add Name">
  <input name="email" type="text" placeholder="Email">
  <input name="book_title" type="text" placeholder="Book title">
  <input name="days_needed" type="number" placeholder="Days Needed">
  <input name="intrested_response" type="text" placeholder="Answer if insterested">
  <input type="submit" value="Add new book request">
</form>
  <br>
    <a href="/" class="simple-link">BACK TO BOOK REQUESTS</a>
>
